<section>
  <ul class="nav nav-pills">
    <li [ngClass]="{'active':isSelected(1)}"> <a (click)="selectTab(1)">Description</a> </li>
    <li [ngClass]="{'active':isSelected(2)}"> <a (click)="selectTab(2)">Specifications</a> </li>
    <li [ngClass]="{'active':isSelected(3)}"> <a (click)="selectTab(3)">Reviews</a> </li>
  </ul>
  <div class="panel" *ngIf="tab == 1">
    <h4>Description</h4>
    <blockquote>{{currentProduct.description}}</blockquote>
  </div>
  <div class="panel" *ngIf="tab == 2">
    <h4>Spécifications</h4>
    <blockquote >{{currentProduct.about}}</blockquote>
  </div>
  <div class="panel" *ngIf="tab == 3">
    <h4>Reviews</h4>
    <blockquote *ngFor="let review of currentProduct.reviews" (click)="selectReviews(review)">
      <b>{{review.stars}} Stars </b>
      {{review.body}}
      <cite>{{review.author}}</cite>
    </blockquote> //TODO 1: Supprime ça lorsque nous avons terminé currenReview :
    <panel-form [review]="review"></panel-form>
  </div>
</section>
